.place-order-modal {
  min-width: 500px;
  overflow-x: scroll;
}
.ant-popconfirm {
  .ant-popconfirm-description {
    margin: 0;
  }
  .ant-popconfirm-inner-content {
    margin: 1rem;
  }
}
.deposit-modal-description-container {
  margin: 1rem 1rem;
}

.deposit-btn {
  margin-top: 1rem;
}
